
<link rel="stylesheet" href="Files/Css/style.css">
<div><span class="error" clsss="error">
 <?php echo $errorMessage?>
</span></div><br /><br />
<div id="input">
    <h2>Input:</h2>
<form name="index" method="POST">
    <textarea  rows=25" cols = "90" name="input"><?php echo $inputm?></textarea>
    <br /><br />
    <input type="submit">
</form>
</div>
<div id="output">
    <h2>Output:</h2>
    <textarea  rows="25" cols = "90" name="output"><?php echo $outputm?></textarea>
</div>